<div class="twr-date-picker-template" data-ng-class="{'hide-picker': !settings.isVisible}">
    <data-ng-transclude data-ng-click="transcludeClicked()"></data-ng-transclude>

    <div class="twr-date-picker-container">

        <table class="twr-date-picker-header">
            <tbody>
                <tr>
                    <td class="twr-date-picker-header-button-left">
                        <div data-ng-hide="settings.currentView == 'time'">
                            <a href="" class="chevrons" data-ng-click="previous()">
                                <b class="twr-chevron-left"></b>
                            </a>
                        </div>
                    </td>
                    <td class="twr-date-picker-title">
                        <div data-ng-click="previousView()"
                             data-ng-show="settings.datePicker"
                             data-ng-switch="settings.currentView">
                            <span data-ng-switch-when="time" data-ng-bind="date.display | date: 'M/d/yyyy'">
                            </span>
                            <span data-ng-switch-when="month" data-ng-bind="date.display | date: 'MMMM yyyy'">
                            </span>
                            <span data-ng-switch-when="year" data-ng-bind="date.display | date: 'yyyy'">
                            </span>
                        </div>
                    </td>
                    <td class="twr-date-picker-header-button-right">
                        <div data-ng-hide="settings.currentView == 'time'">
                            <a href="" class="chevrons" data-ng-click="next()">
                                <b class="twr-chevron-right"></b>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="twr-date-picker-body" data-ng-switch data-on="settings.currentView">

            <div class="twr-time-view" data-ng-switch-when="time">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="" class="chevrons" data-ng-click="nextHour()">
                                    <b class="twr-chevron-up"></b>
                                </a>
                            </td>
                            <td class="time-spacer-col"></td>
                            <td>
                                <a href="" class="chevrons" data-ng-click="nextMinute()">
                                    <b class="twr-chevron-up"></b>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" max="23" data-ng-model="date.hour" data-ng-change="hourChanged()" class="form-control" />
                            </td>
                            <td class="time-spacer-col">:</td>
                            <td>
                                <input type="text" minlength="1" maxlength="2"
                                       data-ng-model="date.displayMinute" 
                                       data-ng-change="minuteChanged()"
                                       pattern="([0-9]|[0-5][0-9])"
                                       class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="chevrons" data-ng-click="previousHour()">
                                    <b class="twr-chevron-down"></b>
                                </a>
                            </td>
                            <td class="time-spacer-col"></td>
                            <td>
                                <a href="" class="chevrons" data-ng-click="previousMinute()">
                                    <b class="twr-chevron-down"></b>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="twr-view-month" data-ng-switch-when="month">
                <table>
                    <thead>
                        <tr>
                            <th data-ng-repeat="day in days" data-ng-bind="day"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="week in weeks">
                            <td data-ng-repeat="day in week"
                                data-ng-class="{'other-month': day.otherMonth, 'now': day.now, 'selected': day.selected, 'disabled': minDateCompare(day.date) || maxDateCompare(day.date)}"
                                data-ng-click="selectDate(day.date)"
                                data-ng-bind="day.day">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="twr-view-year" data-ng-switch-when="year">
                <table>
                    <tbody>
                        <tr data-ng-repeat="monthGroup in months">
                            <td data-ng-repeat="month in monthGroup"
                                data-ng-class="{'now': month.now, 'selected': month.selected}"
                                data-ng-click="selectMonth(month.number)"
                                data-ng-bind="month.name">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="twr-date-picker-footer">
            <div class="twr-date-picker-button-panel" data-ng-show="settings.showClearButton">
                <button type="button" data-ng-click="clearModel()">Clear Date/Time</button>
            </div>
        </div>
    </div>
</div>